@import "tailwindcss";

@theme {
  --color-text-primary: var(--color-neutral-50);
  --color-text-secondary: var(--color-neutral-200);
  --color-text-muted: var(--color-neutral-400);

  --color-bg-base: var(--color-neutral-950);
  --color-bg-surface-dark: var(--color-neutral-900);
  --color-bg-surface-light: var(--color-neutral-800);

  --color-accent: var(--color-orange-600);

  --color-border: var(--color-neutral-700);

  --color-error: var(--color-red-500);
  --color-success: var(--color-green-500);
  --color-info: var(--color-blue-500);
}

@layer {
  * {
    @apply leading-normal;
  }

  body {
    @apply font-['Inter'] text-text-muted
    bg-bg-base;
  }

  .container {
    @apply min-h-screen max-w-270 mx-auto pt-[58.8px] flex flex-col items-start;
  }

  .form-heading {
    @apply leading-10 text-[2rem] text-text-primary font-medium;
  }

  .input-group {
    @apply flex flex-col gap-2;

    &.checkbox {
      @apply flex-row items-center p-2;
    }

    .label {
      @apply font-semibold text-xs text-text-muted;
    }

    textarea {
      @apply max-w-none min-h-[3lh] box-content;
    }

    input[type="checkbox"] {
      @apply w-4 h-4 p-0 bg-transparent appearance-none cursor-pointer
      outline-0 border-2 border-text-primary focus:border-accent;

      &:checked {
        @apply border-accent bg-accent;
      }
    }

    input[type="file"] {
      @apply w-full px-8 py-16 rounded-sm
      outline-0 border-dashed border-2 border-border
       focus:border-accent;
    }

    .image-overview {
      @apply max-w-75 p-2 rounded-sm
      flex items-center gap-4
      border-1 border-border/50 
      bg-bg-surface-dark/50;
    }

    .error-message {
      @apply font-semibold text-xs text-error;
    }
  }

  input:not([type="file"]),
  textarea {
    @apply p-2 max-w-110 w-full h-full rounded-sm transition ease-out duration-200 bg-bg-surface-dark/60
    outline-2 outline-transparent border-1 border-border
    placeholder:text-text-primary/50 text-text-primary font-normal
    focus:outline-accent focus:border-transparent;
  }
}
